body{
	background-image: url(../img/Hora-de-Aventura.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#juego{
	width: 60%;
	display: flex;
	margin: 20px auto;
	flex-wrap: wrap;
}
.pausa, .flip{
	box-sizing: border-box;
	flex: 20%;
	padding: 10px;
	height: 150px;
	position: relative;
	transform-style: preserve-3d;
  transition: transform 1s;
	cursor: pointer;
}

.front img, .back img{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.flip{
	transform: rotateY(180deg);
}

.front,.back{
	display: block;
  position: absolute;
  width: 90%;
  height: 90%;
	border-radius: 10px;
	border: 2px solid white;
  backface-visibility: hidden;
}
.front{
	background-color: pink;
}
.back{
	transform: rotateY( 180deg );
	background-color: skyblue;
}
